html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 0 0;

  width: 100%;
  color: #424244;
}

@media screen and (min-width: 710px) {
  .container {
    max-width: 710px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.headder {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
 
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 450px;
  margin: 0 auto;
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 98%;
  margin: 0 10px;
  min-height: 400px; 
}

@media screen and (min-width: 710px) {
  .cardBox {
    width: 330px;
  }
}

.done {
  display: none;
}

@media screen and (min-width: 710px) {
  .done {
    display: unset;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #424244;
  border-radius: 5px;
  width: 97%;
  height: 100px;
  margin: 10px 5px;
}

@media screen and (min-width: 710px) {
  .card {
    width: 300px;
    margin: 10px 15px;
  }
}

.textArea {
  padding: 10px 10px;
}

.seperate {
 width: 20%;
 display: flex;
 flex-direction: column;
}

@media screen and (min-width: 710px) {
  .seperate {
    width: 15%;
  }
}

.seperate .prio {
  background-color: rgba(90, 245, 160, 1);
  width: auto;
  height: 50%;
  line-height: 1.8rem;
}

.seperate .norm {
  background-color: rgba(90, 245, 160, 0.3);
  width: auto;
  height: 50%;
  line-height: 1.8rem;
}

.norm {
  background-color: rgba(90, 245, 160, 0.3);
  width: 20%;
  height: 100%;
}

@media screen and (min-width: 710px) {
  .norm {
    width: 15%;
  }
}

.prio {
  background-color: rgba(90, 245, 160, 1);
  width: 20%;
  height: 100%;
}

@media screen and (min-width: 710px) {
  .prio {
    width: 15%;
  }
}

#deleteBtn {
  background-color: rgb(200, 55, 55);
}

.prio p {
  padding: 10px 0;
  margin: 0 0;
  font-size: 0.6rem;
  text-align: center; 
  user-select: none;
}

.norm p {
  padding: 10px 0;
  margin: 0 0;
  font-size: 0.6rem;
  text-align: center; 
  user-select: none;
}

.todoText {
  padding: 10px 0;
  padding-left: 10px;
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  margin: 0 0;
}